{% extends "base.html" %}


{% block content %}
    <h2>Login Form</h2>
    {% include 'includes/alerts.html' %}
    <form action="/login" method="POST">
      {% include 'includes/csrf.html' %}
    
      <div>
            <label for="email">Username:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock content %}

